.Product-Images__lightbox-Gallery {
  display: none;
}

@media screen and (min-width: 401px) {
  .Product-Images__lightbox-Gallery {
    display: block;
  }

  .Product-Images__list-Images-Lightbox {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    max-width: 444px;
    overflow: hidden;
    margin: 0 auto 32px auto;
    border-radius: 12px;
  }

  .Product-Images-item-Lightbox {
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    transition: all 2s ease;
  }

  .Product-Images-item-Lightbox:hover {
    cursor: pointer;
  }

  .Product-Images__list-Demos {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    max-width: 444px;
    margin: 0 auto;
  }

  
}
