.ModalGalleryLightbox {
    display: none;
  }

@media screen and (min-width: 960px) {
  .ModalGalleryLightbox {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1100;
    padding: 89px 0;
  }

  .ModalGalleryLightbox__content {
    max-width: 550px;
    margin: 0 auto;
  }

  .ModalGalleryLightbox__btn-Close {
    display: block;
    appearance: none;
    border: none;
    background-color: transparent;
    background-image: url(../images/icon-close-white.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
    margin: 0 0 23px auto;
  }

  .ModalGalleryLightbox__btn-Close img {
    display: block;
    max-width: 100%;
  }

  .ModalGalleryLightbox__btn-Close:hover,
  .ModalGalleryLightbox__btn-Close:focus {
    cursor: pointer;
    background-image: url(../images/icon-close-hover.svg);
  }

  .ModalGalleryLightbox__button-Previous-Slide,
  .ModalGalleryLightbox__button-Next-Slide {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1080;
  }

  .ModalGalleryLightbox__button-Previous-Slide,
  .ModalGalleryLightbox__button-Next-Slide {
    display: block;
    appearance: none;
    border: none;
    background-color: var(--white);
    width: 57px;
    height: 57px;
    border-radius: 50%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 13px;
  }

  .ModalGalleryLightbox__button-Previous-Slide {
    background-image: url(../images/icon-previous.svg);
    top: 43%;
    left: -28px;
  }

  .ModalGalleryLightbox__button-Next-Slide {
    background-image: url(../images/icon-next.svg);
    background-position: 22px center;
    top: 43%;
    right: -28.5px;
  }

  .ModalGalleryLightbox__button-Next-Slide:hover,
  .ModalGalleryLightbox__button-Next-Slide:focus {
    background-image: url(../images/icon-next-orangesvg.svg);
  }

  .ModalGalleryLightbox__button-Previous-Slide:hover,
  .ModalGalleryLightbox__button-Previous-Slide:focus {
    background-image: url(../images/icon-previous-orange.svg);
  }

  .ModalGalleryLightbox__slider{
    position: relative;
  }

  .ModalGalleryLightbox__list-Images-Product {
    /*list-style: none;
    display: flex;
    flex-flow: row nowrap;*/
    max-width: 550px;
    /*overflow: hidden;*/
    /*margin: 0 auto 32px auto;*/
    border-radius: 12px;
    margin-bottom: 40px;
  }

  .ModalGalleryLightbox__item-Image{
    transition: all 2s ease;
    flex: 0 0 100%;
    border-radius: 12px;
  }

  .ModalGalleryLightbox__list-Demos{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 31px;
    justify-content: center;
    align-items: center;
  }

  .ModalGalleryLightbox__item-Demo{
    flex: 0 0 88px;
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 8px;
  }

  .ModalGalleryLightbox__item-Demo img{ 
    display: block;
    max-width: 100%;
    border-radius: 6px;
  }

  .ModalGalleryLightbox__item-Demo:hover{
    cursor: pointer;
  }

  .ModalGalleryLightbox__item-Demo:focus img,
  .ModalGalleryLightbox__item-Demo:hover img{
    opacity: 0.6;
  }

  .ModalGalleryLightbox__item-Demo_active {
    border: 2px solid #d8874f;
    border-radius: 10px;
  }

  .ModalGalleryLightbox__item-Demo_active img{
    /*border: 2px solid #d8874f;*/
    opacity: 0.2;
  }

  .Product-Images__slide img {
    border-radius: 12px;
  }
}
