.Product-Images{
    margin-bottom: 23.5px;
}

.Product-Images__container-Slides{
    position: relative;
    height: 300px;
    width: 375px;
    /*margin: 0 auto;*/
}

.Product-Images__list-Images-Product{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
    transition: 0s 2s all ease;
}

.Product-Images__button-Previous-Slide, 
.Product-Images__button-Next-Slide{
    display: block;
    position: absolute;
    top: 0;
}

.Product-Images__button-Previous-Slide img, .Product-Images__button-Next-Slide img{
    display: block;
    width: 8px;
}

.Product-Images__button-Previous-Slide, 
.Product-Images__button-Next-Slide{
    display: block;
    appearance: none;
    border: none;
    background-color: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 13.5px center;
    background-size: 9px;
}

.Product-Images__button-Previous-Slide{
    background-image: url(../images/icon-previous.svg);
    top: 130px;
    left: 15px;
}

.Product-Images__button-Next-Slide{
    background-image: url(../images/icon-next.svg);
    background-position: 16.5px center;
    top: 130px;
    right: 15px;
}

.Product-Images__button-Next-Slide:hover,.Product-Images__button-Next-Slide:focus {
    background-image: url(../images/icon-next-orangesvg.svg);
}

.Product-Images__button-Previous-Slide:hover,
.Product-Images__button-Previous-Slide:focus{
    background-image: url(../images/icon-previous-orange.svg);
}